<!doctype html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>EDG Journal Club</title>
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Abril+Fatface">
    <link rel="stylesheet" href="css/bootstrap.min.css" media="screen">
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="bower_components/jquery-ui/themes/redmond/jquery-ui.min.css">
  </head>

  <body ng-controller="DocDBCtrl">

    <div class="row-fluid">
      <div class="span4">
        <h1>EDG Journal Club</h1>
      </div>
      <div class="span8" id="calendar" style="display:block; text-align:center;"></div>


    </div>

      <form class="form-search" ng-submit ="redirect()">
        <div class="input-append">
          <input type="text" placeholder="Search ..." ng-model="query" class="input-medium search-query">
          <button type="submit" class="btn btn-primary"><i class="icon-play"></i></button>
        </div>
      </form>

    <table class="table table-striped table-bordered table-hover">
      <thead>
        <th>ID</td>
        <th>Title</th>
        <th>Speaker</th>
        <th>Date</th>
        <th>Lunch Order</th>
      </thead>
      <tr ng-repeat="file in filtered = (files | filter:query)">
        <!-- <td ng-class="{'past': file.date<'2017'}">{{nFiles-$index}}</td> -->
        <td ng-class="{'current': file.date>'2017'}">{{nFiles-$index}}</td>
        <td class="title"><a ng-class="file.docid" href="http://www.phy.bnl.gov/bnlif/cgi-bin/private/ShowDocument?docid={{file.docid}}">{{file.title}}</a></td>
        <td class="speaker" >{{file.author}}</td>
        <td>{{file.date | date:mediumDate}}</td>
        <td>{{file.lunch}}</td>
      </tr>
    </table>
    <!-- <input type="text" id="calendar" placeholder="Calendar" class="input-small" style="float:right;"> -->



    <!-- // <script src="bower_components/angular/angular.min.js"></script> -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-3.4.1.min.js"></script>
    <script type="text/javascript" src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>

    <script src="docdb.js"></script>
    <script src="misc.js"></script>
  </body>

</html>
